@model EmployeeViewModel

<h2>Edit Employee</h2>

<form asp-action="SaveEmployeeChanges" method="post" id="editEmployeeForm">
    <div class="form-group">
        <label asp-for="Payroll_Number">Payroll number:</label>
        <input asp-for="Payroll_Number" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Forenames">First Name:</label>
        <input asp-for="Forenames" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Surname">Last Name:</label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Date_of_Birth">Date of Birth:</label>
        <input asp-for="Date_of_Birth" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Telephone">Telephone:</label>
        <input asp-for="Telephone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mobile">Mobile:</label>
        <input asp-for="Mobile" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address_2">Address 2:</label>
        <input asp-for="Address_2" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Postcode">Postcode:</label>
        <input asp-for="Postcode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EMail_Home">Email Home:</label>
        <input asp-for="EMail_Home" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Start_Date">Start Date:</label>
        <input asp-for="Start_Date" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <!-- Add a hidden field for the employee ID -->
        <input asp-for="Id" type="hidden" id="EmployeeId" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
